*{
            margin:0px;
            padding:0px;
            font-size:16px;
        }
        /* 垂直菜单的制作 */
        .vertical{
            width:100px;
            list-style:none;
        }
        .vertical>li>a{
            display:block;
            text-decoration:none;
            width:100px;
            background:#ccc;
            text-indent:10px;
            /* text-align:center; */
            height:30px;
            line-height:30px;
            margin-bottom:1px;
        }
        /* 动态伪类hover 增加交互效果 */
        .vertical>li>a:hover{
            background:#f60;
            color:#fff;
        }

        /* 水平菜单的制作 */


        .level{
            list-style:none;
        }
        .level>li{
            float:left;
        }
        .level>li>a{
            display:block;
            text-decoration:none;
            width:100px;
            height:30px;
            line-height:30px;
            /* 注意水平与垂直一直设的是li或者说是变为块状的a的背景颜色，而不是ul的背景色！ */
            background:#ccc;
            /* margin-bottom:1px; */
            text-align: center;
        }
        .level>li>a:hover{
            color:#fff;
            background:#f60;
        }


        /* 圆角菜单的制作 */
        .cir{
            list-style:none;
            height:30px;
            border-bottom:5px solid #f60;
            padding-left:100px;
        }
        .cir>li{
            float:left;
        }
        .cir>li>a{
            display:block;
            text-decoration:none;
            width:100px;
            height:30px;
            line-height:30px;
            background:#ccc;
            margin-bottom:1px;
            text-align: center ;
            /* border-radius的使用 */
            border-radius:5px;
       }
        .cir>li>a:hover{
            color:#fff;
            background-color:#f60;
        }


            /* 伸缩菜单的制作-改变高度/水平方向 */
        .menu{
            list-style:none;
            border-bottom:5px solid #f60;
            height:50px;
            padding-left:100px;
        }
        .menu>li{
            float:left;
            margin-top:20px;
        }
        .menu>li>a{
            text-decoration:none;
            display:block;
            width:100px;
            height:30px;
            line-height:30px;
            background:#ccc;
            text-align:center;
            /* 宽高效果的动画变化 transition:width 2s ease;
            transition:height 2s ease;*/
        }
        .menu>li>a:hover{
            color:#fff;
            background:#f60;
            height:42px;
            /* 高度往橙线上方走 */
            margin-top:-12px;
            /* 文字与hover后的高度保持一致，仍然是垂直居中 */
            line-height:42px;

            width:150px;
            /* 宽度往水平方向走 */
        }


        /* 导航条之下拉菜单的制作 */
        .down{
            list-style:none;
            width:600px;
            height:37px;
            background:#e6e3e3;
            /* 阴影 */
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.18)!important;
            margin-left:120px;
            margin-top:20px;
        }
        .down>li{
            float:left;
        }
        .down>li>a{
            display:block;
            text-decoration:none;
            width:80px;
            height:37px;
            line-height:37px;
            /* 注意水平与垂直一直设的是li或者说是变为块状的a的背景颜色，而不是ul的背景色！ */
            background:#e6e3e3;
            color:#000;
            /* margin-bottom:1px; */
            text-align: center;
        }
        .down>li>a:hover{
            background:#bbb;
        }

        /* 给下拉列表增加/删除样式 */
        .list{
            position: absolute;
            list-style:none;
            display: block;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.18)!important;
        }
        .list>li>a{
            display:none;
            text-decoration:none;
            color:black;
            width:80px;
            height:30px;
            line-height:30px;
            background:#fff;
            text-align:center;
        }
        .list>li>a:hover{
            display: block;/*本行代码为什么没效果*/
            background:#bbb;
        }
        /* 未解决的问题：点击更多的时候，为什么下拉列表没有出现？*/