*{
            margin:0px;
            padding:0px;
            font-size:16px;
        }
        li{
            list-style:none;
        }
        /* 垂直菜单的制作 */
        .vertical{
            width:100px;
            list-style:none;
        }
        .vertical>li>a{
            display:block;
            text-decoration:none;
            width:100px;
            background:#ccc;
            text-indent:10px;
            /* text-align:center; */
            height:30px;
            line-height:30px;
            margin-bottom:1px;
        }
        /* 动态伪类hover 增加交互效果 */
        .vertical>li>a:hover{
            background:#f60;
            color:#fff;
        }

        /* 水平菜单的制作 */


        .level{
            list-style:none;
        }
        .level>li{
            float:left;
        }
        .level>li>a{
            display:block;
            text-decoration:none;
            width:100px;
            height:30px;
            line-height:30px;
            /* 注意水平与垂直一直设的是li或者说是变为块状的a的背景颜色，而不是ul的背景色！ */
            background:#ccc;
            /* margin-bottom:1px; */
            text-align: center;
        }
        .level>li>a:hover{
            color:#fff;
            background:#f60;
        }


        /* 圆角菜单的制作 */
        .cir{
            list-style:none;
            height:30px;
            border-bottom:5px solid #f60;
            padding-left:100px;
        }
        .cir>li{
            float:left;
        }
        .cir>li>a{
            display:block;
            text-decoration:none;
            width:100px;
            height:30px;
            line-height:30px;
            background:#ccc;
            margin-bottom:1px;
            text-align: center ;
            /* border-radius的使用 */
            border-radius:5px;
       }
        .cir>li>a:hover{
            color:#fff;
            background-color:#f60;
        }


            /* 伸缩菜单的制作-改变高度/水平方向 */
        .menu{
            list-style:none;
            border-bottom:5px solid #f60;
            height:50px;
            padding-left:100px;
        }
        .menu>li{
            float:left;
            margin-top:20px;
        }
        .menu>li>a{
            text-decoration:none;
            display:block;
            width:100px;
            height:30px;
            line-height:30px;
            background:#ccc;
            text-align:center;
            /* 宽高效果的动画变化 transition:width 2s ease;
            transition:height 2s ease;*/
        }
        .menu>li>a:hover{
            color:#fff;
            background:#f60;
            height:42px;
            /* 高度往橙线上方走 */
            margin-top:-12px;
            /* 文字与hover后的高度保持一致，仍然是垂直居中 */
            line-height:42px;

            width:150px;
            /* 宽度往水平方向走 */
        }


        /* 导航条之下拉菜单的制作 */
        .down{
            list-style:none;
            width:600px;
            height:37px;
            background:#e6e3e3;
            /* 阴影 */
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.18)!important;
            margin-left:120px;
            margin-top:20px;
        }
        .down>li{
            float:left;
        }
        .down>li>a{
            display:block;
            text-decoration:none;
            width:80px;
            height:37px;
            line-height:37px;
            /* 注意水平与垂直一直设的是li或者说是变为块状的a的背景颜色，而不是ul的背景色！ */
            background:#e6e3e3;
            color:#000;
            /* margin-bottom:1px; */
            text-align: center;
        }
        .down>li>a:hover{
            background:#bbb;
        }

        /* 给下拉列表增加/删除样式 */
        .list{
            position: absolute;
            display:none;/*隐藏下拉列表*/
            list-style:none;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.18)!important;
        }
        /*注意区分子代后代的差别！但是这里选子代后代都可以,因为后代包括子代，而这里三个li三个a是并列的*/
        .list>li>a{
            display:block;
            text-decoration:none;
            color:black;
            width:80px;
            height:30px;
            line-height:30px;
            background:#fff;
            text-align:center;
        }
        .down :nth-child(3):hover .list {/*鼠标点击时下拉列表出现*/
            display: block;/*本行非常重要下拉列表出现的关键*/
        }
        /*a {
            text-decoration: none;
            color: black;
        }*/
        /*.list li:hover{
            display: block;
            background:#bbb;
        }*/
        .list>li>a:hover{
            display: block;
            background:#bbb;
        }
        /* 注意的问题：点击更多的时候，为什么下拉列表没有出现？*/


        .down_2{
            background:#e6e3e3;
            /* 阴影 */
            width:600px;
            height:37px;/*添加高度后整个设置的宽度才能完全显现*/
            margin:0 auto;/*水平居中*/
            text-indent:10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.18)!important;
        }
        .down_2>li{
            float:left;
            position:relative;
        }
        .down_2>li::after{
            content:'';
            display:block;
            clear:both;
        }
        .down_2 li a{
            display:block;
            text-decoration:none;
            color:#000;
            background:#e6e3e3;
            padding:8px 16px;
        }
        .down_2 .list2>li>a{
           background:#fff;
        }
         .down_2 li a:hover {
            background-color: #bbb;
        }
        .down_2 .list2{
            display: none;/*隐藏下拉列表*/
            position:absolute;
            min-width:160px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.18)!important;
        }

        .down_2>li:hover .list2{
            display: block;/*鼠标点击时下来列表出现*/
        }



        /*.down_2 .list2 {
            color: #000;
            background-color: #fff;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 160px;
            margin: 0;
            padding: 0;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
        }

        .down_2>li:hover .list2 {
            display: block;
        }